*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

height:100vh;

display:flex;
justify-content:center;
align-items:center;

font-family:Poppins;

background:linear-gradient(135deg,#ff9eb5,#ff6f91);

overflow:hidden;

}

/* card */

.card{

background:white;

padding:40px;

border-radius:20px;

width:320px;

text-align:center;

box-shadow:0 20px 40px rgba(0,0,0,0.2);

}

/* titulo */

h1{

font-family:Great Vibes;

font-size:46px;

color:#ff4d6d;

margin-bottom:10px;

}

/* subtitulo */

.subtitle{

color:#666;

margin-bottom:25px;

}

/* botão */

button{

padding:12px 30px;

border:none;

border-radius:25px;

background:#ff4d6d;

color:white;

font-size:15px;

cursor:pointer;

transition:0.3s;

}

button:hover{

transform:scale(1.08);

}

/* mensagem */

#mensagem{

margin-top:25px;

font-size:15px;

line-height:1.7;

color:#444;

display:none;

}

#mensagem span{

color:#ff4d6d;
font-weight:500;

}